USE [master]
GO
/****** Object:  Database [PresentationPRJ321]    Script Date: 6/26/2019 4:19:50 PM ******/
CREATE DATABASE [PresentationPRJ321]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PresentationPRJ321', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS2014\MSSQL\DATA\PresentationPRJ321.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PresentationPRJ321_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS2014\MSSQL\DATA\PresentationPRJ321_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PresentationPRJ321].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PresentationPRJ321]
GO
/****** Object:  Table [dbo].[Accessory]    Script Date: 6/26/2019 4:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Accessory](
	[accessoryID] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[brand] [nvarchar](20) NULL,
	[price] [float] NULL,
	[description] [nvarchar](max) NULL,
	[categoryID] [int] NULL,
	[quantity] [int] NULL,
	[isDelete] [bit] NULL,
	[forType] [int] NULL,
	[image] [varchar](10) NULL,
 CONSTRAINT [PK_Accessory] PRIMARY KEY CLUSTERED 
(
	[accessoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Account]    Script Date: 6/26/2019 4:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[username] [varchar](20) NOT NULL,
	[password] [varchar](20) NULL,
	[fullname] [varchar](50) NULL,
	[address] [varchar](max) NULL,
	[phone] [varchar](10) NULL CONSTRAINT [DF_Account_phone]  DEFAULT (''),
	[isDelete] [bit] NULL,
	[gender] [bit] NULL,
	[role] [varchar](10) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Category]    Script Date: 6/26/2019 4:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[categoryID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[isDelete] [bit] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Invoice_Accessory]    Script Date: 6/26/2019 4:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Invoice_Accessory](
	[invoiceID] [bigint] IDENTITY(1,1) NOT NULL,
	[createdTime] [datetime] NULL,
	[buyerUsername] [varchar](20) NULL,
	[status] [int] NULL,
	[adminConfirm] [varchar](20) NULL,
 CONSTRAINT [PK_Invoice_Accessory] PRIMARY KEY CLUSTERED 
(
	[invoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Invoice_Accessory_Detail]    Script Date: 6/26/2019 4:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice_Accessory_Detail](
	[accessoryID] [bigint] NOT NULL,
	[quantity] [int] NULL,
	[subPrice] [float] NULL,
	[invoiceID] [bigint] NOT NULL,
 CONSTRAINT [PK_Invoice_Accessory_Detail_1] PRIMARY KEY CLUSTERED 
(
	[accessoryID] ASC,
	[invoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Invoice_Service]    Script Date: 6/26/2019 4:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Invoice_Service](
	[invoiceID] [bigint] NOT NULL,
	[createTime] [datetime] NULL,
	[adminConfirm] [varchar](20) NULL,
	[price] [float] NULL,
	[status] [int] NULL,
	[doingDate] [varchar](50) NULL,
	[petID] [bigint] NULL,
	[staffDoing] [int] NULL,
	[timeStart] [float] NULL,
	[serviceID] [int] NULL,
 CONSTRAINT [PK_Invoice_Service] PRIMARY KEY CLUSTERED 
(
	[invoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Invoice_Service_Detail]    Script Date: 6/26/2019 4:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice_Service_Detail](
	[serviceID] [int] NOT NULL,
	[time] [float] NULL,
	[staffDoing] [int] NULL,
	[price] [float] NULL,
	[invoiceID] [bigint] NOT NULL,
	[position] [int] NULL,
	[petID] [bigint] NOT NULL,
 CONSTRAINT [PK_Invoice_Service_Detail] PRIMARY KEY CLUSTERED 
(
	[serviceID] ASC,
	[invoiceID] ASC,
	[petID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pet]    Script Date: 6/26/2019 4:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pet](
	[petID] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[birthyear] [int] NULL,
	[ownID] [varchar](20) NULL,
	[typeID] [int] NULL,
	[gender] [bit] NULL,
	[isDelete] [bit] NULL,
 CONSTRAINT [PK_Pet] PRIMARY KEY CLUSTERED 
(
	[petID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Service]    Script Date: 6/26/2019 4:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Service](
	[serviceID] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[forType] [int] NULL,
	[duration] [float] NULL,
	[price] [float] NULL,
	[description] [varchar](max) NULL,
	[isDelete] [bit] NULL,
	[image] [varchar](10) NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[serviceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 6/26/2019 4:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Staff](
	[staffID] [int] IDENTITY(1,1) NOT NULL,
	[staffName] [varchar](50) NULL,
	[image] [varchar](10) NULL,
	[isAvailable] [bit] NULL,
	[isDelete] [bit] NULL,
	[gender] [bit] NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[staffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Staff_Service_Detail]    Script Date: 6/26/2019 4:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff_Service_Detail](
	[staffID] [int] NOT NULL,
	[serviceID] [int] NOT NULL,
	[isDelete] [bit] NULL CONSTRAINT [DF_Staff_Service_Detail_isDelete]  DEFAULT ('false'),
 CONSTRAINT [PK_Staff_Service_Detail] PRIMARY KEY CLUSTERED 
(
	[staffID] ASC,
	[serviceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Type]    Script Date: 6/26/2019 4:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[typeID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](20) NULL,
	[isDelete] [bit] NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[typeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Accessory] ON 

INSERT [dbo].[Accessory] ([accessoryID], [name], [brand], [price], [description], [categoryID], [quantity], [isDelete], [forType], [image]) VALUES (1, N'Chicken and Liver Pate', N'Smartheart', 1, N'Chicken and Liver Pate location for large dogs', 1, 2, 0, 1, N'1.jpg')
INSERT [dbo].[Accessory] ([accessoryID], [name], [brand], [price], [description], [categoryID], [quantity], [isDelete], [forType], [image]) VALUES (2, N'Pate Morando', N'Morando', 2, N'Pate Morando for your dog veal 400gr', 1, 98, 0, 1, N'2.png')
INSERT [dbo].[Accessory] ([accessoryID], [name], [brand], [price], [description], [categoryID], [quantity], [isDelete], [forType], [image]) VALUES (3, N'Tellme pork pate', N'Tellme', 0.800000011920929, N'Raw  Material:  50% pork liver, beef liver 25%, 10% lean meat, Fresh carrot 4%, 1% pea starch Hal Security, olive oil,  calcium extracted from eggshell and water.

Technology is processed using UHT technology, use heat-resistant bag bunker.', 1, 99, 0, 1, N'3.jpg')
INSERT [dbo].[Accessory] ([accessoryID], [name], [brand], [price], [description], [categoryID], [quantity], [isDelete], [forType], [image]) VALUES (72, N'Littlest Pet Shop Hamster Playground', N'Little Pet', 64.989997863769531, N'Tuck in your two little friends in the sleeping area and wish them sweet dreams — until it’s time to play again!
Activity-packed playset features all kinds of things for you to do with your adorable hamster and mouse pets!
Hamster ball, wheel and spinning perch help you to keep your pets “active”!
Drop “treats” to your pets through the feeding area and “tuck your pets in” for “naps” in the sleeping area.
Playset comes with 2 pets and accessories.', 3, 100, 0, 3, N'72.jpg')
SET IDENTITY_INSERT [dbo].[Accessory] OFF
INSERT [dbo].[Account] ([username], [password], [fullname], [address], [phone], [isDelete], [gender], [role]) VALUES (N'admin', N'admin', N'Tran Thien Phuc', NULL, N'', 0, 1, N'admin')
INSERT [dbo].[Account] ([username], [password], [fullname], [address], [phone], [isDelete], [gender], [role]) VALUES (N'admin1', N'admin1', N'Ngo Van Sang', NULL, N'', 0, 0, N'admin')
INSERT [dbo].[Account] ([username], [password], [fullname], [address], [phone], [isDelete], [gender], [role]) VALUES (N'admin123', N'123456', N'ad', NULL, N'', 1, 1, N'admin')
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([categoryID], [name], [isDelete]) VALUES (1, N'Food', 0)
INSERT [dbo].[Category] ([categoryID], [name], [isDelete]) VALUES (2, N'Clothes', 0)
INSERT [dbo].[Category] ([categoryID], [name], [isDelete]) VALUES (3, N'Toys', 0)
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Invoice_Accessory] ON 

INSERT [dbo].[Invoice_Accessory] ([invoiceID], [createdTime], [buyerUsername], [status], [adminConfirm]) VALUES (1, CAST(N'1970-01-01 07:00:00.023' AS DateTime), N'phuctt', 1, N'admin')
INSERT [dbo].[Invoice_Accessory] ([invoiceID], [createdTime], [buyerUsername], [status], [adminConfirm]) VALUES (2, CAST(N'2019-06-22 20:17:51.790' AS DateTime), N'phuctt', 1, N'admin')
INSERT [dbo].[Invoice_Accessory] ([invoiceID], [createdTime], [buyerUsername], [status], [adminConfirm]) VALUES (3, CAST(N'2019-06-23 11:46:15.940' AS DateTime), N'hongkong1', -1, NULL)
SET IDENTITY_INSERT [dbo].[Invoice_Accessory] OFF
INSERT [dbo].[Invoice_Accessory_Detail] ([accessoryID], [quantity], [subPrice], [invoiceID]) VALUES (1, 2, 1, 3)
INSERT [dbo].[Invoice_Accessory_Detail] ([accessoryID], [quantity], [subPrice], [invoiceID]) VALUES (2, 1, 2, 1)
INSERT [dbo].[Invoice_Accessory_Detail] ([accessoryID], [quantity], [subPrice], [invoiceID]) VALUES (2, 1, 2, 2)
SET IDENTITY_INSERT [dbo].[Pet] ON 

INSERT [dbo].[Pet] ([petID], [name], [birthyear], [ownID], [typeID], [gender], [isDelete]) VALUES (1, N'Bunny', 2017, N'phuctt', 3, 0, 0)
INSERT [dbo].[Pet] ([petID], [name], [birthyear], [ownID], [typeID], [gender], [isDelete]) VALUES (2, N'Kichi', 2017, N'phuctt', 1, 0, 0)
INSERT [dbo].[Pet] ([petID], [name], [birthyear], [ownID], [typeID], [gender], [isDelete]) VALUES (3, N'Phuc', 2000, N'hongkong1', 2, 1, 0)
SET IDENTITY_INSERT [dbo].[Pet] OFF
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([serviceID], [name], [forType], [duration], [price], [description], [isDelete], [image]) VALUES (1, N'Dog Hair Grooming Salon', 1, 0.5, 10, N'Making dogs & cats look great is our passion! Our academy-trained Pet Stylists have over 800 hours of hands-on grooming instruction that includes bathing, trimming & styling at least 200 dogs of all breeds & sizes plus annual safety certification. We offer complete bath, haircut & walk-in grooming services. Book your pet''s salon appointment today!
                    
                    
                    ', 0, N'1.png')
INSERT [dbo].[Service] ([serviceID], [name], [forType], [duration], [price], [description], [isDelete], [image]) VALUES (2, N'Cat Grooming Hair Salon', 2, 0.5, 8, N'Making dogs & cats look great is our passion! Our academy-trained Pet Stylists have over 800 hours of hands-on grooming instruction that includes bathing, trimming & styling at least 200 dogs of all breeds & sizes plus annual safety certification. We offer complete bath, haircut & walk-in grooming services. Book your pet''s salon appointment today!', 0, N'2.png')
SET IDENTITY_INSERT [dbo].[Service] OFF
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([staffID], [staffName], [image], [isAvailable], [isDelete], [gender]) VALUES (1, N'Huy Kim', N'1.jpg', 1, 0, 1)
INSERT [dbo].[Staff] ([staffID], [staffName], [image], [isAvailable], [isDelete], [gender]) VALUES (2, N'Nguyen Hoang', N'2.jpg', 0, 0, 0)
INSERT [dbo].[Staff] ([staffID], [staffName], [image], [isAvailable], [isDelete], [gender]) VALUES (3, N'Bui Tan', N'3.jpg', 1, 0, 1)
SET IDENTITY_INSERT [dbo].[Staff] OFF
INSERT [dbo].[Staff_Service_Detail] ([staffID], [serviceID], [isDelete]) VALUES (1, 1, 1)
INSERT [dbo].[Staff_Service_Detail] ([staffID], [serviceID], [isDelete]) VALUES (1, 4, 1)
INSERT [dbo].[Staff_Service_Detail] ([staffID], [serviceID], [isDelete]) VALUES (1, 5, 1)
SET IDENTITY_INSERT [dbo].[Type] ON 

INSERT [dbo].[Type] ([typeID], [name], [isDelete]) VALUES (1, N'Dog', 0)
INSERT [dbo].[Type] ([typeID], [name], [isDelete]) VALUES (2, N'Cat', 0)
INSERT [dbo].[Type] ([typeID], [name], [isDelete]) VALUES (3, N'Hamster', 0)
SET IDENTITY_INSERT [dbo].[Type] OFF
ALTER TABLE [dbo].[Accessory]  WITH CHECK ADD  CONSTRAINT [FK_Accessory_Category] FOREIGN KEY([categoryID])
REFERENCES [dbo].[Category] ([categoryID])
GO
ALTER TABLE [dbo].[Accessory] CHECK CONSTRAINT [FK_Accessory_Category]
GO
ALTER TABLE [dbo].[Accessory]  WITH CHECK ADD  CONSTRAINT [FK_Accessory_Type] FOREIGN KEY([forType])
REFERENCES [dbo].[Type] ([typeID])
GO
ALTER TABLE [dbo].[Accessory] CHECK CONSTRAINT [FK_Accessory_Type]
GO
ALTER TABLE [dbo].[Invoice_Accessory]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Accessory_Account] FOREIGN KEY([buyerUsername])
REFERENCES [dbo].[Account] ([username])
GO
ALTER TABLE [dbo].[Invoice_Accessory] CHECK CONSTRAINT [FK_Invoice_Accessory_Account]
GO
ALTER TABLE [dbo].[Invoice_Accessory]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Accessory_Account1] FOREIGN KEY([adminConfirm])
REFERENCES [dbo].[Account] ([username])
GO
ALTER TABLE [dbo].[Invoice_Accessory] CHECK CONSTRAINT [FK_Invoice_Accessory_Account1]
GO
ALTER TABLE [dbo].[Invoice_Accessory_Detail]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Accessory_Detail_Accessory] FOREIGN KEY([accessoryID])
REFERENCES [dbo].[Accessory] ([accessoryID])
GO
ALTER TABLE [dbo].[Invoice_Accessory_Detail] CHECK CONSTRAINT [FK_Invoice_Accessory_Detail_Accessory]
GO
ALTER TABLE [dbo].[Invoice_Accessory_Detail]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Accessory_Detail_Invoice_Accessory] FOREIGN KEY([invoiceID])
REFERENCES [dbo].[Invoice_Accessory] ([invoiceID])
GO
ALTER TABLE [dbo].[Invoice_Accessory_Detail] CHECK CONSTRAINT [FK_Invoice_Accessory_Detail_Invoice_Accessory]
GO
ALTER TABLE [dbo].[Invoice_Service]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Service_Account] FOREIGN KEY([adminConfirm])
REFERENCES [dbo].[Account] ([username])
GO
ALTER TABLE [dbo].[Invoice_Service] CHECK CONSTRAINT [FK_Invoice_Service_Account]
GO
ALTER TABLE [dbo].[Invoice_Service]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Service_Pet] FOREIGN KEY([petID])
REFERENCES [dbo].[Pet] ([petID])
GO
ALTER TABLE [dbo].[Invoice_Service] CHECK CONSTRAINT [FK_Invoice_Service_Pet]
GO
ALTER TABLE [dbo].[Invoice_Service]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Service_Service] FOREIGN KEY([serviceID])
REFERENCES [dbo].[Service] ([serviceID])
GO
ALTER TABLE [dbo].[Invoice_Service] CHECK CONSTRAINT [FK_Invoice_Service_Service]
GO
ALTER TABLE [dbo].[Invoice_Service]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Service_Staff] FOREIGN KEY([staffDoing])
REFERENCES [dbo].[Staff] ([staffID])
GO
ALTER TABLE [dbo].[Invoice_Service] CHECK CONSTRAINT [FK_Invoice_Service_Staff]
GO
ALTER TABLE [dbo].[Invoice_Service_Detail]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Service_Detail_Invoice_Service] FOREIGN KEY([invoiceID])
REFERENCES [dbo].[Invoice_Service] ([invoiceID])
GO
ALTER TABLE [dbo].[Invoice_Service_Detail] CHECK CONSTRAINT [FK_Invoice_Service_Detail_Invoice_Service]
GO
ALTER TABLE [dbo].[Pet]  WITH CHECK ADD  CONSTRAINT [FK_Pet_Type] FOREIGN KEY([typeID])
REFERENCES [dbo].[Type] ([typeID])
GO
ALTER TABLE [dbo].[Pet] CHECK CONSTRAINT [FK_Pet_Type]
GO
ALTER TABLE [dbo].[Pet]  WITH CHECK ADD  CONSTRAINT [FK_Pet_User] FOREIGN KEY([ownID])
REFERENCES [dbo].[Account] ([username])
GO
ALTER TABLE [dbo].[Pet] CHECK CONSTRAINT [FK_Pet_User]
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [FK_Service_Type] FOREIGN KEY([forType])
REFERENCES [dbo].[Type] ([typeID])
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [FK_Service_Type]
GO
ALTER TABLE [dbo].[Staff_Service_Detail]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Service_Detail_Service] FOREIGN KEY([serviceID])
REFERENCES [dbo].[Service] ([serviceID])
GO
ALTER TABLE [dbo].[Staff_Service_Detail] CHECK CONSTRAINT [FK_Staff_Service_Detail_Service]
GO
ALTER TABLE [dbo].[Staff_Service_Detail]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Service_Detail_Staff] FOREIGN KEY([staffID])
REFERENCES [dbo].[Staff] ([staffID])
GO
ALTER TABLE [dbo].[Staff_Service_Detail] CHECK CONSTRAINT [FK_Staff_Service_Detail_Staff]
GO
USE [master]
GO
