.col-id {
    width: 5%;
}

.col-status {
    width: 10%;
}

.col-buyer, .col-confirm, .col-time, .col-total {
    width: 15%;
}

.link {
    color: blue;
}

.link:hover {
    text-decoration: underline;
    color: blue;
    font-weight: bold;
}
 