.main-content {
    margin: 30px;
    background-color: #FBEAFF;
    box-shadow: 0px 2px 17px #aaaaaa;
    border-radius: 5px;
    padding: 30px 50px;
}

.title {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

label {
    font-weight: bold;
}

.form-check label {
    font-weight: unset;
}

textarea {
    height: 100px !important;
    resize: none !important;
}