.table td {
    padding: 15px;
    align-items: center;
}

.col-id {
    width: 5%;
}

.col-name {
    width: 30%;
}

.col-img {
    width: 20%;
}

.col-img img {
    max-width: 130px;
}

.col-price {
    width: 10%;
}

.col-type {
    width: 10%;
}

.col-duration {
    width: 10%;
}