.accessory-img {
    height: 100%;
}

.content {
    margin-top: 20px;
}

.wrap-content-row {
    width: 100%;
}

.content-sub-title {
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    border-bottom: 1.5px dotted pink;
    border-top: 1.5px dotted pink;
}

.wrap-accessories {
    width: 18%;
    height: 350px;
    position: relative;
}

.wrap-accessory-img {
    height: 200px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.img-type {
    width: 100%;
}

.type-title {
    text-align: center;
    font-size: 25px;
    color: #A83A00;
    font-weight: bold;
}

.wrap-type-sider {
    position: sticky;
    top: 75px;
}

.accessory-price {
    color: red;
    font-weight: bold;
}

.wrap-btn-view-accessory {
    position: absolute;
    left: 20%;
    bottom: 10px;
}

.accessory-name {
    height: 50px;
    overflow-y: hidden;
    font-size: 16px;
}

.modal-footer {
    justify-content: center !important;
}

.modal-dialog {
    max-width: 50% !important;
}