@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

.wrap-login {
  background-image: url("../../img/header-footer/under_blanket-wallpaper-1920x1200.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.wrap-form {
  width: 30%;
  margin-left: 20%;
}

.label {
  text-align: center;
  font-size: 45px;
  font-family: 'Lobster', cursive;
}

label, .font-label {
  font-family: 'Lobster', cursive;
  font-size: 20px !important;
}